<!DOCTYPE html>
<html>
  <div class="wrapper">
  <head>

    <title>Party.me - Everthing you need for a party</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script type="text/javascript" src="../assets/index.js"></script>
    <link href="../assets/style.css" rel='stylesheet' type='text/css' />
		<div class="header">
		<div class="container">
		
			<div class="logo">
				<h1>PARTY.ME</h1>
				<span>Everthing you need for a party</span>
			</div>
			</div>
</div>

  </head>
  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  
  </body>
</div>
</html>
